@import '../../../color/color';
.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: rgba($color: #000000, $alpha: .5);
}
.close-modal{
    div{
        width: 20px;
        height: 2px;
        background: $red;
        &:first-child{
            transform: rotate(-45deg) translateY(1px);
        }
        &:last-child{
            transform: rotate(45deg) translateY(-2px);
        }
    }
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .submit{
        margin-top: 50px;
    }
}